<div id="middle-nav-bar">

    <h2>
        <div class="left">
            <span><a href="/">Inicio</a></span>
            <% 
              unless @category.nil?
            %>
              <span>&gt</span>
              <span><a href="/ask/category?cid=<%= @category.id %>"><%= @category.name %></a></span>
            <% 
              end 
            %>
        </div>

        <div class="right">
            <a href="/ask/new" class="special-link">Publica tu pregunta</a>
        </div>
    </h2>

</div>