  <div class="col-md-4">


      <a class="btn btn-success btn-lg btn-block mb-20" href="/ask/topics/new">
        <i class="glyphicon glyphicon-edit"></i>
        发表话题
      </a>


      <%#= render "common/conjugar" %>


      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><b>话题分类</b></h3>
          </div>
          <div class="panel-body">
            <% @ask_categories.each do |c| %>
              <a href="/ask?cid=<%= c.id %>" class="btn"><%= c.name %></a>
            <% end %>
          </div>
      </div>


  </div>