<div class="container">


  <div class="col-md-4">


      <a class="btn btn-success btn-lg btn-block mb-20" href="/ask/topics/new">
        <i class="glyphicon glyphicon-edit"></i>
        <%= t 'new_topic', :scope => 'io_ask.general' %>
      </a>


      <div class="panel panel-default">
          <div class="panel-heading">
              <h3 class="panel-title"><b><%= t 'topic_category', :scope => 'io_ask.general' %></b></h3>
          </div>
          <div class="panel-body">
            <% if @ask_categories %>
              <% @ask_categories.each do |c| %>
                <a href="/ask/topics?cid=<%= c.id %>" class="btn"><%= c.name %></a>
              <% end %>
            <% end %>
          </div>
      </div>


  </div>


</div>