* {
  margin: 0;
  padding: 0;
}

.avatar {
/*The following will work in almost all browsers*/
max-height:200px;
max-width:150px;
}
/*Now becuse we know IE6 is a pain in the backside it needs it own slice of code */
 
* html .avatar {
height: 200px;
width: 150px
}


.fa {
  color: #000;
}

img { 
  max-width: 100%; 
  height: auto;
}

.cn, .hide {
  display: none;
}


body {
  padding-top: 100px;
  font-size: 14px;
}


footer {
    margin: 50px 0;
}


.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}



.list-group-item a {
  color : #333;
  text-decoration : none;
}

.list-group-item .col-md-2 a,  .list-group-item .col-md-3 a{
  color: #fff;
}





dl.topics dd, dl.replies dd, dl#nodes dd {
    border-bottom: 1px dashed #ccc;
    margin-left: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}


.reply-content, .info {
    padding-left: 60px;
}

.thumb-size {
  width: 48px;
  height: 48px;
}


.space {
    height: 4px;
}

.width-input {
  width: 220px;
}

.pl-60 {
    padding-left: 60px;
}


.mr-10 {
  margin-right: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-20 {
  margin-top: 20px;
}

.h-top {
  height: 80px;
}

.controls span {
  margin-left: 5px;
  color: red;
}


input[type="radio"], input[type="checkbox"] {
    margin: 9px 0 0;
}



.panel-heading a {
  color: black;
}

.collected i {
  color: green;
}


.form-group textarea.form-control {
  width: 100%;
  height: 380px;
}



